name: Snyk Security Gate
on:
 push:
  branches: [ main ]
 pull_request:

jobs:
 snyk-test:
  runs-on: ubuntu-latest
  steps:
   - name: Checkout code
     uses: actions/checkout@v3

   - name: Set up Python
     uses: actions/setup-python@v4
     with:
      python-version: '3.9'

   - name: Install Dependencies
     run: |
      pip install poetry
      poetry config virtualenvs.create false
      poetry install

   - name: Run Snyk Test
     uses: snyk/actions/python@master
     env:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
     with:
      command: test
      args: --severity-threshold=high
